DB_USER=suralaya_waway
DB_PASSWORD=Waway2026!
DB_NAME=suralaya_waway
DB_HOST=127.0.0.1
DB_DIALECT=mysql
DB_PORT=3306

PORT=3000
APP_BASE_URL=https://apiwaway.suralayateknik.com
FRONTEND_BASE_URL=https://fe-waway.vercel.app
JWT_SECRET=please-change-this-secret
JWT_EXPIRES_IN=1d

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=nouvalhabibie18@gmail.com
SMTP_PASS=mzmuwzvlqbivhpih
SMTP_FROM="WAWAY <nouvalhabibie18@gmail.com>"
MAIL_APP_NAME=WA Blast
MAIL_LOGO_URL=

CHROME_PATH=/usr/bin/google-chrome-stable